<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cf.awidiyadew.drawerexpandablelistview">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 인터넷 권한 허용 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- WIFI 상태활용시 추가 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- mac 주소 가져오기 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 안드로이드 부팅시 서비스 시작하는 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 메세지 보내기 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SampleActivity" />
        <activity android:name=".Main2Activity" />
        <!-- <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="false" /> -->
        <activity android:name=".databoardActivity" />
        <activity android:name=".suggestboardActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".StudentCheck" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".TeacherActivity" />
        <activity android:name=".ChattingActivity" />
        <activity android:name=".ChattingMainActivity" />
        <activity android:name=".Main3Activity" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BOOTReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".NotificationActivity" />
        <activity android:name=".ManagementActivity" />
        <activity android:name=".IntrouduceActivity" />
        <activity android:name=".Teacherweb"></activity>
    </application>

</manifest>